		*{
			margin:0;
			padding:0;
		}
		/* 指针走表的样式 */
		#clock{
			margin:10px auto;
			width:300px;
			height:300px;
			border:1px solid gray;
			border-radius:50%;
			position:relative;
		}
		.p{
			position:absolute;
			left:150px;
			transform-origin:left center;
		}
		.hour{
			width:60px;
			height:10px;
			background-color:#faa;
			top:145px;			
		}
		.minute{
			width:120px;
			height:8px;
			background-color:#aaf;
			top:146px;			
		}
		.second{
			width:150px;
			height:4px;
			background-color:#afa;
			top:148px;			
		}
		
		/* 数字表及计时器样式 */
		.container{
			width:290px;
			margin:0 auto;
			text-align:center;
			font:30px "黑体";
			background-color:pink;
			border:1px solid #aaa;
			border-radius:20px;
			padding:10px;
		}
		h3{
			font:15px "宋体";
			color:green;
		}
		button{
			border-radius:20px;
		}